@use 'variables' as *;

.icon {
  &--primary {
    color: $color-primary;
  }
}

.icon-space-right {
	margin-right: 0.5rem;
}

.icon-space-left {
	margin-left: 0.5rem;
}

.external-link-icon {
  font-size: 0.75em;
  margin-left: 0.25em;
  vertical-align: middle;
}