@use 'variables' as *;

// Base
@use 'typography';
@use 'icons';
@use 'buttons';

// Componentes
@use 'breadcrumb';
@use 'recipe-card';
@use 'swiper';

// Secciones y páginas
@use 'header';
@use 'about';
@use 'footer';
@use 'hero';
@use 'recipes';
@use 'page-header';
@use 'category-list';
@use 'newsletter';
@use 'links';

// Layouts
@use 'recipe-detail';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

abbr {
  text-decoration: underline dotted;
  cursor: help;
}