<nav
	class="breadcrumb"
	aria-label="Ruta de navegacion"
>
	<ol class="breadcrumb__list">
		<each loop="item in breadcrumb">
			<if condition="!loop.last">
				<li class="breadcrumb__item">
					<a
						href="{{ item.url }}"
						class="breadcrumb__link"
						aria-label="{{ item.aria_label }}"
					>
						{{ item.name }}
					</a>
				</li>
			</if>
			<else>
				<li
					class="breadcrumb__item"
					aria-current="page"
				>
					<span class="breadcrumb__current">{{ item.name }}</span>
				</li>
			</else>
		</each>
	</ol>
</nav>
