<div class="recipe-card">
	<a
		href="{{ recipe.link }}"
		class="recipe-card__link"
		aria-label="{{ recipe.link_aria_label }}"
	>
		<div class="recipe-card__image-wrapper">
			<img
				src="/src/images/{{ recipe.image }}"
				alt="{{ recipe.alt_image }}"
				class="recipe-card__image"
				width="600"
				height="400"
				loading="lazy"
			/>
			<span class="recipe-card__category">{{ recipe.category }}</span>
		</div>
		<div class="recipe-card__content">
			<h3 class="recipe-card__title">{{{ recipe.title_html }}}</h3>
			<p class="recipe-card__description">{{{ recipe.description_html }}}</p>
			<div class="recipe-card__meta">
				<div class="recipe-card__meta-item">
					<i
						class="far fa-clock icon--primary"
						aria-hidden="true"
					></i>
					{{ recipe.duration }}
				</div>
				<div class="recipe-card__meta-item">
					<i
						class="far fa-star icon--primary"
						aria-hidden="true"
					></i>
					{{ recipe.difficulty }}
				</div>
			</div>
		</div>
	</a>
</div>
