<div class="recipe-card">
	<a
		href="{{ recipe.link }}"
		class="recipe-card__link"
		aria-label="{{ recipe.link_aria_label }}"
	>
		<div class="recipe-card__image-wrapper">
			<img
				src="/src/images/{{ recipe.image }}"
				alt="{{ recipe.alt_image }}"
				class="recipe-card__image"
				width="600"
				height="400"
				loading="lazy"
			/>
			<span class="recipe-card__category">{{ recipe.category }}</span>
		</div>
		<div class="recipe-card__content">
			<h3 class="recipe-card__title">{{{ recipe.title }}}</h3>
			<p class="recipe-card__description">{{{ recipe.description }}}</p>
			<dl class="recipe-card__meta">
				<div class="recipe-card__meta-item">
					<dd>
						<i
							class="far fa-clock icon--primary"
							aria-hidden="true"
						></i>
						{{ recipe.duration }}
					</dd>
				</div>
				<div class="recipe-card__meta-item">
					<dd>
						<i
							class="far fa-star icon--primary"
							aria-hidden="true"
						></i>
						{{ recipe.difficulty }}
					</dd>
				</div>
			</dl>
		</div>
	</a>
</div>
